31.07_FSTK/Trubnikova_Olga/Backend/functions_forms_tasks/.idea/
31.07_FSTK/Trubnikova_Olga/Backend/form/.idea/
31.07_FSTK/Trubnikova_Olga/Backend/arrays_loops_tasks/.idea/
31.07_FSTK/Trubnikova_Olga/Backend/.idea/
